/*Styling common to all pages*/

html, body {
    margin: 0px;
}

body {
    background-image: url(./mosaic-banner.jpg);
    background-size: contain;
}

h1 {
    text-align: center;
    background-color: #e6ccff;
    display: table;
    margin: 5px auto;
    padding: 5px 10px;
    border-radius: 25px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

p {
    line-height: 1.5;
}

ul {
    line-height: 1.3;
}

#banner {
    background-color: #8600b3;
    background-image: url(./mosaic-banner.jpg);
    background-size: cover;
    background-blend-mode: darken;
    position: sticky; top: 0px;
    z-index: 10;
}

nav {
    text-align: center;
}

#navbar-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 0 25%;
}

.topnav {
    background-color: #e6ccff;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Merriweather', serif;
}

.topnav:link {
    color: black;
}

.topnav:visited {
    color: black;
}

.topnav:active {
    color: red;
}

.topnav:hover {
    background-color: #ffbf80;
}

#main {
    margin: 0px 20px;
    padding: 5px 15px;
    background-color:  #e6ccff;
}

.center {
    text-align: center;
}

/*Homepage*/

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.uline {
    text-decoration: underline;
}

#SWheadshot {
    border-radius: 50%;
    margin: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

/*About Me page*/

.right {
    float: right;
    margin: 10px; 
}

.left {
    float: left;
    margin: 10px 20px 10px 10px;
}

.ind1 {
    position: relative; left: 30px;
}

.imgcenter {
    position: relative; left: 15%;
}

#figcenter {
    text-align: center;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

#imgLD {
    display: block;
    margin: auto;
}

.captionCenter {
    text-align: center;
}

.accordion {
    color: #8600b3;
    cursor: pointer;
    border: none;
    width: 100%;
}

.accordion > h3::after {
    content: '  \25BC';
}

.activePanel,
.accordion:hover {
    color:black;
}

.activePanel > h3::after {
    content: '  \25B2';
}

.panel {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.7s ease-out;
}

/*Resume page*/

.hresume {
    padding-left: 65px;
}

#employment, #education, #awards {
    scroll-margin-top: 150px;
}

nav#resumenav {
    position: sticky; top: 200px; right: 0px;
    display: block;
    float: right;
    margin: 0px;
}

nav#resumenav ul {
    list-style-type: none;
    text-align: center;
    background-color: #6666ff;
    padding: 0px;
    margin: 0px;
}

#rn1, #rn2, #rn3 {
    padding: 10px;
    border: black solid 2px;
}

#rn1 {
    border-bottom-width: 0px;
}

#rn2 {
    border-bottom-width: 0px;
}

#rn1:hover, #rn2:hover, #rn3:hover {
    background-color:  #ffbf80;
    box-shadow: 4px 4px black;
}

.highlight {
    background-color: #FFBF80;
    filter: invert(1);
}

li.highlight:hover {
    background-color:  #ffbf80;
    box-shadow: 4px 4px black;
    filter: invert(0);
}

.reslink {
    color: black;
    text-decoration: none;
}

#bottom {
    position: relative;
    bottom: 0px;
}

#educolumns {
    display: grid;
    grid-template-columns: 65% 35%;
}

.educol1 {
    margin-top: 0px;
    margin-right: 100px;
}

img.resGallery:hover {
    box-shadow: 0px 8px 16px 0px black;
    border-radius: 1.5em;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85); 
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    vertical-align: middle;
    margin: auto;
    width: 80%;
    height: 100%;
}

.slide {
    display: none;
    margin: auto;
}
  
.image-slide {
    width: auto;
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}
  
.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#AFbutton {
    padding: 5px 8px;
    display:inline;
    margin-left: 50px;
    border: 0px;
    line-height: 1.5;
    color: white;
    border-radius: 10px;
    background-color: #b30000;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#AFbutton:hover {
    background-color: #e60000;
    cursor: pointer;
}

#AFbutton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#AFpopup {
    visibility: hidden;
    text-align: center;
    margin: auto;
    z-index: 2;
    background:rgba(0,0,0,0.85);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#helper {
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

#AFvideo {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    position: relative;
}

#popupClose {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: 80px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 3; 
}

.popupCloseButton:hover {
    background-color: #ccc;
}

figure#AFvideo > figcaption {
    color: white;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    background-color: black;
    width: 800px;
    padding: 5px;
    text-indent: 20px;
}

/*Contact page*/

#contactform {
    padding-left: 35%;
}

#submitbutton {
    margin-left: 20%;
}

#nameError, #emailError, #formError {
    margin-left: 10px;
    color: red;
}

