/*FS1000 Day 2 exercise from slide 79*/

h1 {
    text-align: center;
    text-decoration: underline;
}

th {
    text-align: left;
    background-color: lightblue;
}

.alt1 {
    background-color: orange;
}

.alt2 {
    background-color: red;
}

table, tr, th, td {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
}

td.nb {
    border-style: none;
    text-align: center;
}

tr.alt1:hover, tr.alt2:hover {
    background-color: lightskyblue;
}

img {
    border-style: solid;
    border-color: white;
    margin: 5px; 
}
